<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About us</h2> 
          <p>
            I Help You To Succeed In This Online Field And Give You Best Knowledge Which Helps You To Make Passive Income.
<br>
            Hey,Let me introduce my self quickly, 
          </p><br><br>
          <h3> I'm <h1>Ashish Devkota.</h1>
            The part-time Blogger, Affiliate marketer and Entrepreneur.
            I'm a 26-year-old part-time blogger who loves to do blogging and share knowledge with others.</h3>

    </div>

    <%- include('./partials/footer.ejs')  %>
   